input{
    padding: 1vmin;
    border-radius: 1vh;
    width: 80vw;
    font-size: 3vmin;
    margin-top: 3vh;
    background: transparent;
    border: none;
    border-bottom: 2px solid #00e6e6
}
button.realizarLogin{
    margin-top: 4vh;
    border-radius: 4px;
    height: 5vh;
    background-color: #00e6e6;
    font-size: 3vmin
}  
button.redCadastro{
    margin-top: 4vh;
    border-radius: 4px;
    height: 5vh;
    background-color: #00e6e6;
    font-size: 3vmin
} 